<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <div class="login-container">
            <h1>
                Login
            </h1>
            <%- include ("./messages") %>
            
            <form action="/auth/login" method="POST">
                <div class="form-group">

                    <label for="email">EMAIL :</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
                </div>
                <div class="form-group">
                    <label for="password">PASSWORD :</label>
                    <input type="password" id="password" name="password" class="form-control"
                        placeholder="Enter Password" />
                </div>
                <button type="submit" class="btn-primary">LOGIN</button>
            </form>
            <p class="mt-4">
                New User? <a href="/auth/register">Register</a>
                Forgot Password? <a href="/auth/forgot">Reset</a>
            </p>
        </div>
    </div>
</div>
</div>